* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container {
    display: flex;
    height: 100vh;
}

.sidebar {
    width: 250px;
    background-color:#0c0c0c;
    color: white;
    padding: 20px;
}

.sidebar-header {
    text-align: center;
    margin-bottom: 30px;
}

.sidebar-menu {
    list-style: none;
}

.sidebar-menu li {
    margin: 20px 0;
}

.sidebar-menu li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.sidebar-menu li a:hover {
    background-color: #373737;
}

.main-content {
    flex-grow: 1;
    background-color: #ecf0f1;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    background-color: #2e2e2e;
    padding: 15px;
}

.navbar-profile {
    cursor: pointer;
}

.profile-pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover; /* Ensure the image fits well inside the circle */
    cursor: pointer;
    border: 2px solid #fff; /* Optional: Add a white border around the icon */
}



.content {
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #2980b9;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    padding: 5px 10px;
    background-color: #2980b9;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #1f639a;
}
